### 7.1

In [ ]:
import pandas as pd
import numpy as np
ramen = pd.read_csv('ramen-ratings.csv', na_values = {'Stars': ['Unrated']})
ramen.drop('Review #', axis = 1, inplace = True)
ramen.loc[ramen.Country == 'United States', 'Country'] = 'USA'

In [ ]:
ramen[ramen['Stars'].isnull()]

In [2]:
import pandas as pd
import numpy as np
ramen = pd.read_csv('ramen-ratings.csv', na_values = {'Stars': ['Unrated']})

In [3]:
ramen[ramen.Stars.isnull()]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
32,2548,Ottogi,Plain Instant Noodle No Soup Included,Pack,South Korea,NaN,NaN
122,2458,Samyang Foods,Sari Ramen,Pack,South Korea,NaN,NaN
993,1587,Mi E-Zee,Plain Noodles,Pack,Malaysia,NaN,NaN

### 7.3

In [ ]:
import pandas as pd
ramen = pd.read_csv('ramen-ratings.csv', na_values = {'Stars': ['Unrated']})
ramen.drop('Review #', axis = 1, inplace = True)
ramen.loc[ramen.Country == 'United States', 'Country'] = 'USA'

sf_southkorea = (ramen.Brand == 'Samyang Foods') & (ramen.Country == 'South Korea')
o_southkorea = (ramen.Brand == 'Ottogi') & (ramen.Country == 'South Korea')
m_Malaysia = (ramen.Brand == 'Mi E-Zee') & (ramen.Country == 'Malaysia')

star_sf_southkorea = ramen.loc[sf_southkorea, 'Stars'].mean() 
star_o_southkorea = ramen.loc[o_southkorea, 'Stars'].mean() 
star_m_Malaysia = ramen.loc[m_Malaysia, 'Stars'].mean() 


ramen.loc[sf_southkorea & (ramen.Stars.isnull()), 'Stars'] = star_sf_southkorea
ramen.loc[o_southkorea & (ramen.Stars.isnull()), 'Stars'] = star_o_southkorea
ramen.loc[m_Malaysia & (ramen.Stars.isnull()), 'Stars'] = star_m_Malaysia
ramen.loc[[122,32,993]]

In [ ]:
import pandas as pd
ramen = pd.read_csv('ramen-ratings.csv', na_values = {'Stars': ['Unrated']})
ramen.drop('Review #', axis = 1, inplace = True)
ramen.loc[ramen.Country == 'United States', 'Country'] = 'USA'
brand = ramen.loc[ramen.Stars.isnull(), 'Brand'].tolist()
country = ramen.loc[ramen.Stars.isnull(), 'Country'].tolist()

def get_mean(df, brand, country):
    mean = []
    for i in range(len(brand)):
        val = df.loc[(ramen.Brand == brand[i]) & (df.Country == country[i]), 'Stars'].mean()
        mean.append(val)
    return mean
get_mean(ramen, brand, country)

ramen.loc[ramen.Stars.isnull(), 'Stars'] = get_mean(ramen, brand, country)
ramen.loc[[122,32,993]]

In [ ]:
import pandas as pd
ramen=pd.read_csv('ramen-ratings.csv',na_values=('Unrated'))
ramen.drop('Review #', axis = 1, inplace = True)
ramen.loc[ramen.Country == 'United States', 'Country'] = 'USA'
avg1=ramen.loc[(ramen['Country'] == 'South Korea') & (ramen['Brand'] == 'Ottogi')]['Stars'].mean()
ramen.iloc[32,5]=avg1
avg2=ramen.loc[(ramen['Country'] == 'South Korea') & (ramen['Brand'] == 'Samyang Foods')]['Stars'].mean()
ramen.iloc[122,5]=avg2
avg3=ramen.loc[(ramen['Country'] == 'Malaysia') & (ramen['Brand'] == 'Mi E-Zee')]['Stars'].mean()
ramen.iloc[993,5]=avg3
# write your code here
ramen.loc[[122,32,993]]

### 7.2

In [ ]:
import pandas as pd
import numpy as np
name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

cleveland = pd.read_csv('processed.cleveland.data', na_values = '?', names = name)
cleveland[cleveland.ca.isnull()]
cleveland

### 7.5

In [ ]:
import pandas as pd
import numpy as np
name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

cleveland = pd.read_csv('processed.cleveland.data', na_values = '?', names = name)

ca_sex = cleveland.loc[cleveland.ca.isnull(), 'sex'].tolist()
ca_num = cleveland.loc[cleveland.ca.isnull(), 'num'].tolist()

thal_sex = cleveland.loc[cleveland.thal.isnull(), 'sex'].tolist()
thal_num = cleveland.loc[cleveland.thal.isnull(), 'num'].tolist()

def get_mode(df, sex, num, missing_col):
    mode = []
    for i in range(len(sex)):
        val = df.loc[(df.sex == sex[i]) & (df.num == num[i]), missing_col].mode()
        mode.append(val)
    return mode

cleveland.loc[cleveland.ca.isnull(), 'ca'] = get_mode(cleveland, ca_sex, ca_num, 'ca')
#cleveland.loc[cleveland.thal.isnull(), 'thal'] = get_mode(cleveland, thal_sex, thal_num,'thal')

In [ ]:
import pandas as pd
import numpy as np
name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

cleveland1 = pd.read_csv('processed.cleveland.data', na_values = '?', names = name)
cleveland1[cleveland1.ca.isnull()]
cleveland1.head()

cleveland1["ca"]=cleveland1["ca"].fillna(0)

cleveland1.loc[87] = cleveland1.loc[87].fillna(value=3)
cleveland1.loc[266] = cleveland1.loc[266].fillna(value=7)
cleveland1.dtypes

### 7.6

In [ ]:
import pandas as pd
import numpy as np
name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

cleveland = pd.read_csv('processed.cleveland.data', na_values = '?', names = name)

d = {1.0: 'typical angina', 2.0: 'atypical angina', 3.0: 'non-anginal pain', 4.0: 'asymptomatic'}
cleveland.cp = cleveland.cp.map(d)

counts = cleveland.cp.value_counts()

In [ ]:
counts

In [ ]:
import pandas as pd
import numpy as np
name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

cleveland = pd.read_csv('processed.cleveland.data', na_values = '?', names = name)
cpmap = {
    1.0:'typical angina', 
    2.0:'atypical angina', 
    3.0:'non-anginal pain',
    4.0:'asymptomatic'
}
cleveland['cp'] = cleveland['cp'].map(cpmap)
cleveland.cp.value_counts()

### 7.7

In [ ]:
import pandas as pd
import numpy as np
name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

cleveland = pd.read_csv('processed.cleveland.data', na_values = '?', names = name)

def modify(row):
    val = 'low'
    if row.slope == 1.0 and row.thalach >= 160:
            val = 'high'
  
    if row.slope == 2.0 and row.thalach >= 140:
            val = 'high'
            
    if row.slope == 3.0 and row.thalach >= 145:
            val = 'high'
            
    return val
    
cleveland['thalach_level'] = cleveland.apply(modify, axis = 1)
cleveland['thalach_level']

### 7.8

In [ ]:
import pandas as pd
import numpy as np

files = ['processed.cleveland.data', 'processed.hungarian.data', 
        'processed.switzerland.data', 'processed.va.data']

def import_data(file):
    name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

    df = pd.read_csv(file, na_values = '?', names = name)
    return df

cleveland, hungarian = import_data(files[0]), import_data(files[1])
switzerland, va = import_data(files[2]), import_data(files[3])

heart_disease = pd.concat([cleveland, hungarian, switzerland, va], ignore_index = True)

### 7.9

In [ ]:
import pandas as pd
ramen = pd.read_csv('ramen-ratings.csv', na_values = {'Stars': ['Unrated']})
ramen.drop('Review #', axis = 1, inplace = True)
ramen.loc[ramen.Country == 'United States', 'Country'] = 'USA'
ramen.columns = ['brand', 'name', 'packaging', 'from', 'Stars', 'Top Ten']
d = {'United States': 'US', 'USA': 'US', 'South Korea': 'Korea'}
ramen['from'].replace(d, inplace=True)

green = pd.read_csv('green-int-ramen.csv')

green_ramen = pd.merge(green, ramen)

ramen = pd.read_csv('ramen-ratings.csv')

green_ramen

In [ ]:
green_ramen

### 7.10

In [ ]:
import pandas as pd
import numpy as np
name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

cleveland = pd.read_csv('processed.cleveland.data', na_values = '?', names = name)
d = {0.0: 0, 1.0: 1, 2.0: 1, 3.0: 1, 4.0: 1}
cleveland.num.replace(d, inplace=True)

prob = cleveland.groupby(by=['sex', 'cp'])['num'].mean()
percent = np.reshape((prob).to_list(), (2,4))
sex_cp_percent = pd.DataFrame(percent, index = [0,1], columns = [1, 2, 3, 4])

sex_cp_percent

In [ ]:
male_cp = cleveland.loc[cleveland["sex"] == 1, :]

male_cp_1 = male_cp.loc[male_cp["cp"] == 1, :]
male_cp_1_h = male_cp_1.loc[male_cp_1["num"] == 1, :]
male_percent_1 = len(male_cp_1_h) / len(male_cp_1)
male_percent_1==sex_cp_percent.iloc[1,0]

### 7.11

In [ ]:
import pandas as pd
import numpy as np
name = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
         'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']
cleveland = pd.read_csv('processed.cleveland.data', na_values = '?', names = name)

cut = pd.qcut(cleveland.trestbps, q = 4)
sex_bps_num = cleveland.groupby(by=['sex', cut])['num'].value_counts()

num_4 = sex_bps_num[[x[2] == 4 for x in sex_bps_num.index]]

In [ ]:
cleveland.groupby(by=['sex', cut])['num'].value_counts()

In [ ]:
sex_bps_num[[x[2] == 4 for x in sex_bps_num.index]]

In [ ]:
pd.qcut(cleveland.trestbps, 4, retbins=True, labels=False)

In [ ]:
for x in sex_bps_num.index:
    print(x)